@using OnlineStore.Models.Domain
@model OnlineStore.Models.View.ProductPageViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="m-3">
    @section Header {
        <h2>@Model.CurrentProduct.Name</h2>

    }
    <div class="card w-50 mb-3">
        <div class="card-header">@Model.CurrentProduct.Name</div>
        <div class="card-body">Какое-то описание товара</div>
    </div>
    <div class="card w-50">
        @using (@Html.BeginForm(actionName: "AddReview", controllerName: "Product", FormMethod.Post))
        {
            <div class="card-header">
                @Html.LabelFor(model => model.NewReview.Author, "Введите свой никнейм:")
                @Html.TextBoxFor(model => model.NewReview.Author, htmlAttributes: new {placeholder = "Введите свой никнейм" })
            </div>
            <div class="card-body">
                @Html.LabelFor(model => model.NewReview.ReviewText, "Введите свой отзыв:")
                @Html.TextAreaFor(model => model.NewReview.ReviewText, htmlAttributes: new {@placeholder = "Введите свой отзыв", @rows = "10", @cols = "75" })
            </div>

            <div class="card-footer">
                <input type="submit" name="createReview" value="Оставить отзыв" />
            </div>
        }
    </div>
    <div>
        <ul class="list-group">
            @foreach (Review review in Model.ProductReviews)
            {
                <div>
                <li class="list-group-item">
                    <div class="card">
                        <div class="card-header">
                                @review.Author
                                @review.CreationTime
                        </div>
                        <div class="card-body">
                                @review.ReviewText
                        </div>
                    </div>
                </li>
                </div> 
            }
        </ul>
    </div>
</div>
