@using OnlineStore.Models.Domain
@model OnlineStore.Models.View.FeedbackPageViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="m-3">
    <h3>Отзывы о товаре: @ViewBag.ProductName</h3>
    <div class="mb-3">
        <a type="button" asp-controller="Feedback" asp-action="NewReview" asp-route-id="@ViewBag.ProductId" asp-route-productName="@ViewBag.ProductName" class="btn btn-primary">
            Оставить отзыв
        </a>
    </div>
    <hr />
    <div>
        <ul class="w-100 p-0">
            @foreach (Review review in Model.Reviews)
            {
                <li class="list-group-item mb-3">
                    <div class="card w-50">
                        <div class="card-header d-inline-flex justify-content-between  bg-primary text-white">
                            <div>
                                Author: @review.Author
                            </div>
                            <div>
                                Raiting: @review.Rating
                            </div>
                        </div>
                        <div class="card-body  bg-light">
                            @review.ReviewText
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
