@model OnlineStore.Models.Domain.Review
@{
    
}
<div>
    <h3>Отзывы о товаре "@ViewBag.ProductName"</h3>
</div>
<div class="card w-50">
    @using (@Html.BeginForm(actionName: "AddReview", controllerName: "Feedback", FormMethod.Post))
    {
        <div class="card-header">
            @Html.LabelFor(model => model.Author, "Введите свой никнейм:")
            @Html.TextBoxFor(model => model.Author, htmlAttributes: new { placeholder = "Введите свой никнейм"})
        </div>
        <div class="card-body">
            @Html.LabelFor(model => model.ReviewText, "Введите свой отзыв:")
            @Html.TextAreaFor(model => model.ReviewText, htmlAttributes: new { @placeholder = "Введите свой отзыв", @rows = "10", @cols = "75" })
        </div>
        <div class="card-footer">
            <input type="hidden" name="productId" asp-for="@Model.ProductId" value="@ViewBag.productId" />
            <input type="submit" name="createReview" value="Оставить отзыв" />
        </div>
    }
</div>
